# =====================================================================
# Image Editor
# Copyright © 2026 Md. Sahabul. All rights reserved.
# Designed & developed by Md. Sahabul.
# =====================================================================

REACT_APP_API_BASE_URL=http://localhost:8000/api
REACT_APP_NAME="Image Editor"
REACT_APP_MAX_UPLOAD_MB=25
